# Salin file ini menjadi .env dan isi nilainya
# JANGAN upload file .env ke GitHub!

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/kopi-db
JWT_SECRET=rahasia_jwt_kamu_yang_panjang
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
